<div class="jumbotron">
  <h2>Tous les évènements :</h2>
</div>

<div class="card-columns">
<% @events.each do |e| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= e.title %></h4>
      <%= render partial: 'events/infos', locals: {event: e, full: false} %>
      <%= link_to "Détails", event_path(e.id), class: "btn btn-info" %>
    </div>
  </div>
<% end %>
</div>
