<footer class=''>
  <div class="container">
    <div class="row">

      <div class="col">
        <p>Un petit test de footer</p>
      </div>

      <div class="col">
        <p>follow us on</p>
        <a class="twitter-follow-button"
        href="https://twitter.com/eddymalou"
        data-size="large">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/pages/category/Chef/Sylvain-Pierre-Durif-le-Grand-Monarque-Le-christ-Cosmique-1726743444214535/">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://github.com/thp-grenobles8">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>

    </div>
  </div>
</footer>
